.Container {
  width: 95%;
  height: 95vh;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  padding-top: 1vh;
}

.staff-zip {
  width: 75%;
  max-height: 95vh;
  overflow-y: auto;
  padding: 0rem 0.7rem 0.5rem 0.5rem;
  background: whitesmoke;
}
